$bgColor: #212739;
$color1: #00f9ff;
$color2: #73ff76;

#noteContainer {
    width: 100%;
    height: 100%;

    padding-top: 32px;

    > h1 {
        font-variant: small-caps;
        font-size: 4em;
        text-align: center;
        letter-spacing: 1em;

        margin-bottom: 32px;
    }

    section#container {
        height: 80%;
        width: 100%;

        display: flex;
        align-items: center;

        overflow-x: scroll;
        overflow-y: hidden;
        .noteCard {
            background-color: #0d142b;

            display: block;
            min-width: 350px;
            max-width: 350px;
            min-height: 400px;
            max-height: 400px;

            margin-inline: 15px;
            padding: 15px;
            border-radius: 1rem;

            h2.titleCard {
                border-bottom: 1px solid $color2;

                font-size: 1.2rem;

                color: $color2;
                text-transform: capitalize;
                text-align: center;
            }
        }
    }
}
