$bgColor: #212739;
$color1: #00f9ff;
$color2: #73ff76;

#noteContainer {
    width: 100%;
    height: 100%;

    padding-top: 32px;

    #addNote {
        font-weight: bold;
        height: 45px;
        width: 80px;
        background-color: $color1;
        border: none;
        border-radius: 0.3rem;
        margin-left: 1rem;
        &:active {
            background-color: #00c5c9;
        }
    }

    > h1 {
        font-variant: small-caps;
        font-size: 4em;
        text-align: center;
        letter-spacing: 1em;

        margin-bottom: 32px;
    }

    section#container {
        font-family: "Ubuntu", sans-serif;
        height: 75%;
        width: 100%;

        display: flex;
        align-items: center;

        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            background-color: $bgColor;
            height: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color1;
            border-radius: 1rem;
        }

        .noteCard {
            background-color: #0d142b;

            overflow: hidden;

            display: block;
            min-width: 350px;
            max-width: 350px;
            min-height: 400px;
            max-height: 400px;

            margin-inline: 15px;
            padding: 15px;
            border-radius: 1rem;

            > div {
                display: flex;
                position: relative;
                width: 100%;
                margin-bottom: 0.7em;

                h2.titleCard {
                    width: 100%;
                    border-bottom: 1px solid $color2;

                    font-size: 1.2rem;

                    color: $color2;
                    text-transform: capitalize;
                    text-align: center;
                }

                .deleteNote {
                    position: absolute;
                    background-color: transparent;

                    width: 25px;
                    height: 25px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: $color1;
                    border: none;

                    right: -5px;
                    top: -5px;

                    &:active {
                        color: red;
                    }
                }
            }
        }
    }
}
