$bgColor: #212739;
$color1: #00f9ff;
$color2: #73ff76;

#containerNewNote {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;

    position: absolute;

    width: 100%;
    height: 100%;

    #newNote {
        width: 650px;
        height: 550px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $bgColor;
    }
}
