$bgColor: #212739;
$color1: #00f9ff;
$color2: #73ff76;

#containerNewNote {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;

    position: absolute;

    width: 100%;
    height: 100%;

    #newNote {
        width: 650px;
        height: 550px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $bgColor;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding: 1rem;
        gap: 1rem;

        border-radius: 1rem;
        input[type="text"],
        #content {
            width: 100%;
            outline: none;
            font-size: 16px;
            color: $color2;
            background-color: #32353d;
            border: none;
            padding: 10px;
            border-radius: 0.3rem;
        }

        #content {
            height: 100%;
            resize: none;
        }

        #submitNote {
            font-weight: bold;
            height: 45px;
            width: 80px;
            background-color: $color1;
            border: none;
            border-radius: 0.3rem;
            margin-left: 1rem;

            &:active {
                background-color: #00c5c9;
            }
        }
    }
}

#containerNewNote.active {
    display: block;
}
