$bgColor: #212739;
$color1: #00f9ff;
$color2: #73ff76;

#containerNewNote {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;

    position: absolute;

    width: 100%;
    height: 100%;

    #newNote {
        width: 650px;
        height: 550px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $bgColor;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding: 1rem;

        gap: 1rem;
        input[type="text"] {
            width: 100%;
            outline: none;
            font-size: 16px;
            color: $color2;
            background-color: #32353d;
            border: none;
            padding: 10px;
        }

        #content {
            height: 100%;
        }
    }
}

#containerNewNote.active {
    display: block;
}
