@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: #ffd;
    font-family: "Ubuntu", sans-serif;

    overflow-x: hidden;

    height: 100%;
}
